@model TobaccoShop.Models.CommentViewModel

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("AddComment", "Products", FormMethod.Post))
    {
        <div class="form-group">
            @Html.HiddenFor(p => Model.ProductId)
            @Html.TextAreaFor(p => Model.Text, new { @class = "form-control", @style="min-width: 60%", rows = 3 })
            <input class="btn btn-default" type="submit" value="Добавить комментарий" />
        </div>
    }
}
else
{
    <p><a href="/connect/login/">Войдите</a> , чтобы оставить комментарий</p>
}
