@model IEnumerable<TobaccoShop.DAL.Entities.Products.Product>

@foreach (var item in Model)
{
    <div class="col-md-2">
        <div>
            @Html.Raw("<img style='width:200px; height:200px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(item.Image) + "\" />")
        </div>
        <p>@Html.DisplayFor(modelItem => item.Mark) @Html.DisplayFor(modelItem => item.Model)</p>

        <p>@Html.DisplayFor(modelItem => item.Price) руб.</p>

        @using (Html.BeginForm("AddToCart", "Hookah", FormMethod.Post))
        {
            <input class="btn-success" type="button" value="Купить" />
        }
    </div>
}
