@model IEnumerable<TobaccoShop.BLL.DTO.ProductDTO>

@foreach (var item in Model)
{
    <div class="col-md-2">
        <div>
            @Html.Raw("<img style='width:200px; height:200px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(item.Image) + "\" />")
        </div>
        <p>@Html.DisplayFor(modelItem => item.Mark) @Html.DisplayFor(modelItem => item.Model)</p>

        <p>@Html.DisplayFor(modelItem => item.Price) руб.</p>

        @using (Ajax.BeginForm("AddToCart", "Products", new { id = item.ProductId }, new AjaxOptions { UpdateTargetId = "CartMenu" }))
        {
            <input class="btn-success" type="submit" value="Купить" />
        }

    </div>
}
