@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@using System.Web;
@using TobaccoShop.BLL.Interfaces;


@if (Request.IsAuthenticated)
{
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">@User.Identity.GetUserName()<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="/Profile/MyProfile">Мой профиль</a></li>
        @{
            IUserService UserService = HttpContext.Current.GetOwinContext().GetUserManager<IUserService>();
            string userRole = UserService.FindUserById(User.Identity.GetUserId())?.Role;
            if (userRole == "Moderator" || userRole == "Admin")
            {
                <li role="separator" class="divider"></li>
                <li><a href="/Admin/Orders/">Управление</a></li>
            }
        }
        <li role="separator" class="divider"></li>
        <li><a href="/Connect/Logout/">Выйти</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Connect")</li>
        <li>@Html.ActionLink("Вход", "Login", "Connect")</li>
    </ul>
}
