@{
    ViewBag.Title = "Добавление нового товара";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<label class="control-label">Добавление нового товара</label>

<div>
    <div class="col-md-2">
        <a class="nounderline section-name" href="/admin/addedithookah" title="Кальян">
            <img class="img-responsive img-center" src="~/Content/SectionImages/hookah.png" />
            <p>Кальян</p>
        </a>
    </div>
    <div class="col-md-2">
        <a class="nounderline section-name" href="/admin/addedithookahtobacco" title="Табак для кальяна">
            <img class="img-responsive img-center" src="~/Content/SectionImages/hookah_tobacco.png" />
            <p>Табак для кальяна</p>
        </a>
    </div>
</div>
