@{
    ViewBag.Title = "Addproduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<label class="control-label">Добавление нового продукта</label>

<div>
    @using (Ajax.BeginForm("AddProduct", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "AddProductForm" }))
    {
        <div>
            <label class="control-label">Выберите тип продукта: </label>
        </div>
        <div>
            @Html.DropDownList("ProductType", ViewBag.Types as SelectList, new { @class = "form-control" })
        </div>
        <div>
            <input type="submit" value="ОК" />
        </div>
    }
</div>
<div id="AddEditProductForm">
    @{Html.RenderPartial("_AddHookah");}
</div>
