
@{
    ViewBag.Title = "Редактирование товара";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var str = Convert.ToString(ViewData["PartialViewName"]);
}

<div id="AddEditProductForm">
    @{ Html.RenderPartial(ViewData["PartialViewName"].ToString(), ViewData["ProductModel"]); }
</div>