@model IEnumerable<TobaccoShop.BLL.DTO.OrderDTO>

@{
    ViewBag.Title = "Заказы";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active">
            @Ajax.ActionLink("Активные", "ActiveOrders", new AjaxOptions { UpdateTargetId = "orderList", OnSuccess = "changeOrderStatusSelection" })
        </li>
        <li role="presentation">
            @Ajax.ActionLink("В доставке", "OnDeliveryOrders", new AjaxOptions { UpdateTargetId = "orderList", OnSuccess = "changeOrderStatusSelection" })
        </li>
        <li role="presentation">
            @Ajax.ActionLink("Выполненные", "CompletedOrders", new AjaxOptions { UpdateTargetId = "orderList", OnSuccess = "changeOrderStatusSelection" })
        </li>
    </ul>
</div>

<div id="orderList">
    @{ Html.RenderPartial("_OrderList", Model); }
</div>
