@model IEnumerable<TobaccoShop.BLL.DTO.UserDTO>

@{
    ViewBag.Title = "Пользователи";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <ul class="nav nav-pills" id="userRole">
        <li role="presentation" class="active">
            @Ajax.ActionLink("Пользователи", "UsersByRole", new { role = "User" }, new AjaxOptions { UpdateTargetId = "userList", OnSuccess = "changeUserRoleSelection" })
        </li>
        <li role="presentation">
            @Ajax.ActionLink("Модераторы", "UsersByRole", new { role = "Moderator" }, new AjaxOptions { UpdateTargetId = "userList", OnSuccess = "changeUserRoleSelection" })
        </li>
        <li role="presentation">
            @Ajax.ActionLink("Администраторы", "UsersByRole", new { role = "Admin" }, new AjaxOptions { UpdateTargetId = "userList", OnSuccess = "changeUserRoleSelection" })
        </li>
        <li role="presentation">
            <a id="searchButton" href="#">Поиск</a>
        </li>
    </ul>
</div>

<div id="searchField" class="search-field-hidden">
    @using (Ajax.BeginForm("UserSearch", new AjaxOptions { UpdateTargetId = "userList" }))
    {
        @Html.Label("Имя пользователя: ")
        <input name="userName" type="text" />
        <input type="submit" class="btn btn-default" value="Найти" />
    }
</div>

<div id="userList" style="margin-top:15px">
    @{ Html.RenderPartial("_UserList", Model); }
</div>
