@model IEnumerable<TobaccoShop.Models.Hookah>

@foreach (var item in Model)
{
    <div class="col-md-2">
        <p>Кальян @Html.DisplayFor(modelItem => item.Mark) @Html.DisplayFor(modelItem => item.Model)</p>

        <p>Высота @Html.DisplayFor(modelItem => item.Height) см.</p>

        <p>@Html.DisplayFor(modelItem => item.Price) руб.</p>

        @using (Html.BeginForm("AddToCart", "Hookah", FormMethod.Post))
        {
            <input class="btn-success" type="button" value="Купить" />
        }

    </div>
}
