body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Validation errors */

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.validation-summary-errors {
    color: #f00;
    font-weight: bold;
}

.validation-summary-valid {
    display: none;
}

.input-validation-error {
    border: 2px solid #f00;
    background-color: #fee;
}

/* Custom */

.img-center{
    display:block;
    margin: 0 auto;
}

.nounderline {
    text-decoration: none;
}

.section-name {
    font: 20px/24px "MyriadProCond", sans-serif;
    color: #c25125;
    text-align: center;
}

.section-name:hover {
    color: #160a00;
}

.filter-section {
    border: 1px solid #ddd;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.checkbox-item {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: flex;
}

.filter-input {
    max-width: 45%;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.login-form {
    width: 300px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -280px;
    border: 1px solid #dfe3e9;
}

.login-form-section {
    margin: 25px 15px;
}

.login-input {
    width: 100%;
    background-color: #f8fafc;
    font-weight: bold;
    position: relative;
}

.quantity-items{
    position: relative;
    display: flex;
}

.search-field{
    margin-top: 25px;
}

.search-field-hidden {
    display: none;
}

.itemtitle{
    margin: 0 0 25px 50px;
}

.iteminfo{
    position: relative;
    display: inherit;
    margin: 0;
}

.iteminfo-name{
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.iteminfo-name-inner {
    position: relative;
    z-index: 2;
}

.iteminfo-value {
    display: inline-block;
    width: 51%;
    vertical-align: bottom;
    margin: 0 0 7px 0;
}

.iteminfo-value-inner {
    position: relative;
    display: block;
    padding: 0 0 0 10px;
    z-index: 2;
}