@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    @foreach (var p in ViewBag.Products)
    {
        <div class="col-md-4">
            <div class="img-thumbnail"></div>
            <div class="product-info">@(p.Mark + "  " + p.Model)</div>
            <div class="price"></div>
            <div>
                <button type="button" class="btn btn-primary">Купить</button>
            </div>
        </div>
    }



    @*<table class="table-bordered">
        @foreach (var b in ViewBag.Products)
        {
        <tr>
            <td align="center" width="20%"><p>@b.Mark</p></td>
            <td align="center" width="80%"><p>@b.Model</p></td>
            
        </tr>
        }
    </table>*@

</div>