@{
    ViewBag.Title = "Home Page";
}


<div class="list-group">

    <div class="col-md-2">
        <a class="nounderline section-name" href="/Products/Hookahs" title="Кальяны">
            <img class="img-responsive img-center" src="~/Content/SectionImages/hookah.png" />
            <p>КАЛЬЯНЫ</p>
        </a>
    </div>

    <a href="/Connect/Register">13326</a>
    <a href="/Connect/Init">Init</a>
</div>